<div class="box columns is-centered">
  <article class="media">
    <div class="media-content" id="comment-form">
      <div class="field">
        <p class="control">
          <textarea
            class="textarea"
            placeholder="Add a comment..."
            id="comment"
          ></textarea>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-normal">Comment</button>
        </p>
      </div>
    </div>
  </article>
</div>