<section class="card">
    <a href="/meme">
        <div class="card-body">
            <img src="/images/{{meme.image}}" alt="{{meme.caption}}">
        </div>
        <h1>
            <p>{{meme.caption}}</p>
        </h1>
        <div>
            <p>By: {{user.first_name}}</p>
        </div>
    </a>
</section>