<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memebook</title>
    {{! Bulma link }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>

  <body>
    <header>      
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">          

            <a
              role="button"
              class="navbar-burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div id="navbarBasicExample" class="navbar-menu is-active">
            <div class="navbar-start">
            {{#if logged_in}}
              <a class="navbar-item">               
                <a href="/">Home</a>
              </a>

              <a class="navbar-item">               
                <a href="/profile">Profile</a>
              </a>

              <a class="navbar-item">
                <p class="control">
                  <button class="button is-success is-small" type="submit" id="logout">Logout</button>
                </p>                
              </a>
             {{else}}
            
              <a class="navbar-item">
                <a href="/login">Log In</a>
              </a>
            
            </div>      
          </div>
        </nav>
         {{/if}}
    </header>

    <main>
      {{{body}}}
    </main>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
      <script src="/js/sideMenu.js"></script>
    {{/if}}
  </body>
</html>