{{!-- create post --}}
<div class="container">
  <div class="notification ">
    <form class="card-content">
      <div class="media-content" id="create-post">
        <div class="textarea has-text-centered">
          <input class="input is-normal" type="text" placeholder="Paste image URL">
        </div>
        <div class="field">
          <p class="control">
            <textarea class="textarea" placeholder="Add a caption..." id="post-caption"></textarea>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button type="submit" class="button is-normal" onclick="createNewPost()">Submit</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<script src="/js/newPost.js"></script>