{{!-- create post --}}
<div class="container">
  <div class="notification ">
    <form class="card-content" id="create-post">
      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea class="textarea" placeholder="Add a caption..." id="post-caption"></textarea>
          </p>
          <div class="textarea has-text-centered">
            <input class="input is-normal" type="text" placeholder="Paste image URL" id="imageInput">
          </div>
        </div>
        <div class="field">
          <p class="control">
            <button type="submit" class="button is-normal">Submit</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<script src="/js/newPost.js"></script>