{{!-- edit post --}}
<div class="container">
      <div class="notification ">        
          <form class="card-content" id="create-post">

            <div class="media-content" >
                <div class="field">
                  <p class="control">
                    <textarea
                      class="textarea"
                      placeholder="Add a post..." id="post-description"
                    >{{ caption }}</textarea>
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button type="submit" class="button is-normal">Post</button>
                  </p>
                </div>
                
              </div>
          </form>
        </div>        
      </div>
    </div>

 {{!-- <script src="/js/profile.js"></script> --}}
    
 
