<div class="container is-widescreen">
  {{! is-max-desktop }}
  <div class="content is-normal">
    {{! class="notification" }}
       {{#each memes as |meme|}}
      <div class="card">
        <div class="card-header">          
        <div class="card-content">
          <a href="/meme">
            <p>Posted by {{meme.first_name}}</p>
            <p>{{meme.caption}}</p>
            <div class="card-body">
              <img src="/images/{{meme.image}}" alt="{{meme.caption}}" />
            </div>
          </a>          
        </div>
       </div>
       {{/each}}
      </div>
  </div>
</div>